{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>
<body>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
        {% for data in datas %}
            <tr>
                <td>{{data.titre}}</td>
                <td>{{data.description}}</td>
                
                <td class="redd"><a href="{% url 'delete' id=data.id %}" class="supprimer"><img src="{% static 'image/delete.png' %}" height="20px" alt=""></a></td>
                <td class="bluee"><a href="{% url 'update' id=data.id %}" class="modifier"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
                <td class="vert"><a href="{% url 'home' %}" class="ajouter"><img src="{% static 'image/add.png' %}" height="30px" alt=""></a></td>

            </tr>
        {% endfor %}

    </table>
   
</body>
</html>